body {
    background-image: url('../assets/debateFondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.participants-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.participants-container {
    padding: 20px;
    max-width: 1200px;
    background-color: rgba(240, 242, 245, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.participants-title {
    margin-bottom: 20px;
    color: #1890ff;
    font-family: 'Arial, sans-serif';
    font-size: 28px;
    font-weight: bold;
    background-color: rgba(230, 247, 255, 0.8);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    border: 2px solid #91d5ff;
}

.participants-list {
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #91d5ff rgba(240, 242, 245, 0.9);
}

.participants-list::-webkit-scrollbar {
    width: 8px;
}

.participants-list::-webkit-scrollbar-track {
    background: rgba(240, 242, 245, 0.9);
}

.participants-list::-webkit-scrollbar-thumb {
    background-color: #91d5ff;
    border-radius: 10px;
    border: 3px solid rgba(240, 242, 245, 0.9);
}

.participant-card {
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
    cursor: pointer;
}

.participant-card:hover {
    background-color: rgba(230, 230, 230, 0.9);
}

.participant-name {
    margin-top: 10px;
    font-weight: bold;
    color: #1890ff;
}
